.invite-button {
    background-color: transparent;
    border: thin black solid;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    font-weight: bold;
}

.invite-button:hover {
    background-color: #dfc30f;
}



