.suggest-page {
    padding: 0 40px;
}

.suggest-page main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.suggest-page .custom-form {
    position: fixed;
    top: 40px;
}

.suggest-page .messages {
    flex: 1;
    margin-top: 80px;
    overflow-y: auto;
}

.suggest-page .message {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    max-width: 200px;
}