.about-page {
    padding: 0 40px;
}

.about-page li {
    list-style: none;
    padding: 10px;
    margin: 2px 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;    
}

.about-page ul {
    margin: 0;
    padding: 0;
}

.about-page li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.about-page button {
    animation: pulse 6s infinite ease-in-out;
    margin: 10px 0;
    background-color: black;
    color: white;
    border: none;
    height: 60px;
    border-radius: 30px;
}

.about-page button:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

.about-page .about-buttons {
    display: flex;
    flex-direction: column;
}

.about-page .about-buttons button:nth-child(1) {
    animation-delay: 0s;
}

.about-page .about-buttons button:nth-child(2) {
    animation-delay: 2s;
}

.about-page .about-buttons button:nth-child(3) {
    animation-delay: 4s;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.05);
    }
    10% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}