main {
    padding: 0 40px;
}

main li {
    list-style: none;
    padding: 5px;
    margin: 2px 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;    
}

main ul {
    margin: 0;
    padding: 0;
}

main li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.button {
    animation: pulse 6s infinite ease-in-out;
    margin-bottom: 6px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

li.button:nth-child(1) {
    animation-delay: 0s;
}

li.button:nth-child(2) {
    animation-delay: 2s;
}

li.button:nth-child(3) {
    animation-delay: 4s;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.05);
    }
    10% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}