main form button {
    background-color: transparent;
    border: thin black solid;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    font-weight: bold;
}

form button:hover {
    background-color: #dfc30f;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


