body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
}


/*----------header------------*/
header {
    flex: 0 auto;
    background-color: black;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 ;
    margin-right: 10px;
}

header menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

header li {
    margin: 8px;
}



header a {
    text-decoration: none;
    color: white;
}


.user {
    display: flex;
    align-items: center;
}

@media (max-width: 200px){
    .user a {
        font-size: 0;
    }
}

/*----------main------------*/
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7da21;
}



/*----------footer------------*/
footer {
    background-color: black;
}

footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

footer span, footer a {
    color: white;
}

footer a {
    text-decoration: none;
}