form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure form takes full width f7da21 */
    max-width: 250px; /* Optional: limits the max width of the form */
    margin: 0 auto; /* Center the form horizontally */
}



form button {
    padding: 10px;
    margin: 5px 0; /* Space between buttons */
    width: 100%; /* Makes buttons fill the form width */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    height: 40px;
    border-radius: 25px;
    border: none;
    background: black;
    color: white;
}

form button:hover {
    background-color: rgba(0, 0, 0, 0.45);
}